
@font-face {
    font-family: Roxborough;
    src: url('../assets/FontsFree-Net-roxborough-cf-light.ttf');
}

@font-face {
    font-family: Helvetica-Neue;
    src: url('../assets/Helvetica-Neue-LT-Std-25-Ultra-Light.otf');
}

@font-face {
    font-family: Helvetica-italic;
    src: url('../assets/Helvetica-light-italic.otf');
}