@use './variables' as *;

.trivia{
    position:relative;
    h4{
        width:100%;
        color:$blue-off-white;
        text-align:center;
        position:absolute;
    }
    img{
        width:50px;
        height:50px;
        object-fit: cover;
        position:absolute;
    }
    @include flex-center(row, space-between, flex-start);
    border:$amber 1px solid;
    border-radius:15px;
    padding:2rem;

    .music{
        text-align:right;
    }
    .books{
        text-align:right;
        width:30%;
        .gr_grid_container {
            width: 100%;
            @include flex-center(row, space-around, center);
            flex-wrap:wrap;
        }
        .gr_grid_book_container {
            width: 49px;
            height: 80px;
            // object-fit:cover;
            padding: 0px 0px;
            overflow: hidden;
        }
       
    }
}
