@use './variables' as *;
button {
    @include button-styler;
    a {
        display: inline-block;
        width: 100%;
        text-align: center;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
    
        &:focus {
            opacity: 1;
        }
       
    }
    @media(max-width:$tablet) {
        font-size: 14px;
        font-weight: 100;
        width: 140px;
        min-width: fit-content;
        height: 43px;
        min-height: fit-content;
        margin: 1rem 0px 1rem 10px;
    }
    &.active-btn{
        @include active-btn-styler;
        &:hover {
            background-color: $deep-black;
            color: $amber;
        }
        &:focus {
            background-color: $deep-black;
            color: $amber;
        }
        
    }
    &.inactive-btn{
        @include inactive-btn-styler;
        &:hover {
            color: $amber;
            border:$deep-black 1px solid;
        }
        
        &:focus {
            color: $amber;
            border:$deep-black 1px solid;
        }
    }
}