@use './variables'as *;

fieldset {
    padding:0;
    form {
        border: $amber solid 1px;
        border-radius:15px;
        background-color: $deep-black;
        padding:2rem;
        @include flex-center(column, space-around, center);
        input {
            background-color: $deep-black;
            color:$red-off-white;
            border-bottom: $red-off-white 1px solid;
            margin: 10px 5px 10px 5px;
            padding: 0.5rem;
            font-size: 14px;
            width: 100%;
            &::placeholder {
                color:$red-off-white;
                font-size: 14px;
                line-height: 30px;
                
            }
        }
        textarea {
            border-bottom: $red-off-white 1px solid;
            background-color: $deep-black;
            color:$red-off-white;
            margin: 10px 5px 10px 5px;
            padding: 0.5rem;
            font-size: 14px;
            width: 100%;
            @include wrap($margin:5px, $number-in-a-row:1, $min-width:10px, $max-width:790px);
            &::placeholder {
                color:$red-off-white;
                font-size: 14px;
                line-height: 30px;
            }
        }



    }
}