@use '../partials/variables'as *;

// Menu Nav: 
// font-family: "poppins-medium";
// font-size: 18px;
// font-weight: 500;
// font-style: normal;
// text-align: right;
// color: #FFCC74;
.nav-bar {
    @include nav-styler();
    width: 100%;
    @include flex-center(row, space-between, baseline);
    li {
        flex-basis: 25%;
    }
    .active {
        border-bottom: $amber 5px solid;
    }

    .linked {
        border-bottom: rgb(255, 255, 255, 0) 5px solid;
        a{
            color:$blue-off-white;
        }
    }
}
.side-nav{
    background-color: $amber;
}