@use './variables' as *;

section{
    padding:1.5rem 0;
    background-color: $deep-black;
    position:relative;
    .pagination{
        position:absolute;
        top:50%;
        left:0.5rem;
    }
}