@use 'variables'as *;

*{
    font-family: 'Poppins', sans-serif;

}

h1 {
    @include header-styler();

}

h2 {
   @include sub-header-styler();
   margin-bottom:1rem;

}

// h3 {
    
 
// }

h4 {
    font-size: 22px;
}

section {
    padding: 80px 0;
    margin: 0;
}


p{
    
    @include p-styler-2();
    margin-bottom:1rem;
}
.pre-header{
    @include pre-header-styler();
}

// Menu Nav: 
// font-family: "poppins-medium";
// font-size: 18px;
// font-weight: 500;
// font-style: normal;
// text-align: right;
// color: #FFCC74;

.nav-bar {
    a{
        @include nav-styler;
        text-align: right;
        color: $amber;
        letter-spacing: 1px;
        text-align: center;
        line-height: 29px;
        text-decoration: none;
        text-transform: uppercase;
    }
}

