@use './variables' as *;

.socials{
    @include flex-center(column, space-between, center);
    width:fit-content;
    padding:10px;
    border: $amber 1px solid;
    color:$blue-off-white;
    border-radius: 20px;

    i{
        transition: 0.3s ease-in-out;
        &:hover {
            color: $amber;
        }
        
        &:focus {
            color: $amber;
            // border: $amber 1px solid;
        }

    }
}